<div class="home-page">
    <div id="header">
        <span>ambyrshae</span>
    </div>
    <div id="links">
        <div style="margin-left: 3em; height: 3em;">
            <button mat-fab 
                    class="links-btn"
                    (click)="openURL('mailto:ambyrshae.jarrell@gmail.com')" 
                    style="background-image: url('../../assets/gmail.png'); background-size: 3em;">
            </button>
        </div>
        <div style="margin-right: 4em; height: 5em;">
            <button mat-fab    
                    class="links-btn"
                    (click)="openURL('https://www.linkedin.com/in/ambyrshae/')" 
                    style="background-image: url('../../assets/linkedin.png'); float: right;">
            </button>
        </div>
        <div style="margin-left: 5em; height: 4em;">
            <button mat-fab 
                    class="links-btn"
                    (click)="openURL('https://github.com/ambyrshae')" 
                    style="background-image: url('../../assets/Octocat.png');">
            </button>
        </div>
    </div>
    <div id="content">
        <div id="btn-container">
            <button mat-raised-button>bio</button>
            <button mat-raised-button>skills</button>
        </div>
        <div id="text-container">
            <p class="bio-text">
                I am a full-stack developer who is self-taught and 
                traditionally educated. I hold a B.S in Computer Science
                and Biology from the University of New Orleans.
            </p>
            <p class="bio-text">
                I have 3 years experience developing software for a 
                startup as well as a conglomerate company. 
            </p>
            <p class="bio-text">
                I am a New Orleanian currently residing in Hawaii. When I'm 
                not developing, I pass the time studying Japanese, cooking,
                hiking, snorkling, gaming and giving pets to my 16 year old mutt, Kilo.
            </p>
            <div class="skills-text" style="display: none;">
                <h3>Technologies</h3>
                <div>
                    <p>Javascript</p>
                    <p>Angular</p>
                    <p>Typescript</p>
                    <p>HTML</p>
                    <p>CSS</p>
                    <p>Markup languages</p>
                    <p>Protractor</p>
                    <p>Java</p>
                    <p>Spring Boot</p>
                    <p>SQL</p>
                    <p>JUnit</p>
                </div>
            </div>
            <div class="skills-text" style="display: none;">
                <h3>Industry Knowledge</h3>
                <div>
                    <p>Agile</p>
                    <p>Scrum</p>
                    <p>Software Development Life Cycle</p>
                    <p>Web and Mobile Development</p>
                    <p>Test Driven Development</p>
                    <p>E2E Testing</p>
                    <p>Version Control</p>
                </div>
            </div>
            <div class="skills-text" style="display: none;">
                <h3>Interpersonal Skills</h3>
                <div>
                    <p>Team and Project Management</p>
                    <p>Mentorship</p>
                    <p>Multi-team Collaboration</p>
                </div>
            </div>
        </div>
    </div>
    <div id="img-div">
        <img src="./../../assets/me.png"/>
    </div>
    <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
        <defs>
            <filter id="shadow">
                <feDropShadow dx="1" dy="0" stdDeviation="2" flood-color="rgba(0, 0, 0, 0.5)"/>
            </filter>
        </defs>
        <circle cx="50" cy="60" r="70"/>
    </svg>
</div>
