.home-page {
    font-family: var(--raleway);
    height: 100%;
    display: grid;
    grid-template-columns: 50vh auto;
    grid-template-rows: 7vw 40% auto;
    grid-template-areas: "header content" "links content" "picture content";
}

#header {
    grid-area: header;
    padding-left: 25px;
    padding-top: 10px;
}

#links {
    grid-area: links;
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}
.links-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 4em;
    height: 4em;
}


#content {
    grid-area: content;
    background-color: var(--jet);
}

#btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--white);
    box-shadow: 3px 5px 2px rgba(0,0,0,.4);
}
button {
    font-family: var(--raleway);
}

#text-container {
    color: var(--white);
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
}
.bio-text {
    text-align: justify;
    line-height: 1.5em;
    margin-top: 0;
}
.skills-text > h3 {
    letter-spacing: .05em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
.skills-text > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

#img-div {
    grid-area: picture;
    display: flex;
    flex-direction: column-reverse;
}
#img-div > img {
    width: 100%;
    z-index: 1;
}

svg {
    grid-area: picture;
    width: 100%;
    height: 100%;
    overflow: visible;
    fill: var(--light-grey);
    opacity: 0.8;
    
}
svg > circle {
    filter:url(#shadow);
}


/* Responsive Design */
@media (min-width: 975px) {
    .home-page {
        grid-template-columns: 340px auto;
        grid-template-rows: 68px 304px auto;
    }

    #header > span {
        font-size: 3em;
    }

    #btn-container {
        margin-top: 3em;
    }
    button {
        font-size: 1.3em;
        height: 3em;
        width: 7em;
    }

    #text-container {
        font-size: 1.3em;
        font-weight: 300;
        width: 60vw;
    }
    .bio-text {
        padding: 30px 50px 0 50px;
    }
    .skills-text {
        height: 8em;
        padding-top: 30px;
    }
    .skills-text > div {
        padding: 0 50px;
    }
 }

 @media (min-width: 1250px) {
    #text-container {
        font-size: 1.4em;
    }
 }