#greeting {
    display: flex;
    flex-direction: column;
    font-family: var(--raleway);
}
div {
    width: 70%;
}
#intro {
    font-size: 8vw;
    align-self: center;
    text-align: center;
}
#intro > p {
    margin-bottom: 10px;
}
svg {
    width: 100%;
    overflow: visible;
}
