/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:500,700');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --raleway: 'Raleway', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

app-root {
    height: 100%;
}